/* Hero Section */
.hero {
  background-image: url('/assets/images/hero-image.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF; /* Hero Text Color */
  position: relative; /* Required for the overlay */
}

/* Dark Overlay */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Hero Content */
.hero-content {
  position: relative; /* Ensure the text is above the overlay */
  z-index: 1; /* Bring the text to the front */
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #F9F6E6; /* Hero Heading Text Color */
}

.cta-button {
  background-color: #BAD8B6; /* Button Color */
  padding: 10px 20px;
  border-radius: 5px;
  color: #F9F6E6; /* Button Text Color */
  font-weight: bold;
}

.cta-button:hover {
  background-color: #F9F6E6; /* Button Hover Color */
  color: #BAD8B6; /* Button Text Hover Color */
}

/* Random Patterns */
.random-patterns {
  padding: 40px 20px;
  text-align: center;
}

.pattern-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.pattern-card {
  background-color: #E1EACD; /* Pattern Card Background Color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pattern-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.pattern-card h3 {
  margin: 15px 0 10px;
  font-weight: bold;
  color: #BAD8B6; /* Pattern Card Heading Text Color */
}

.pattern-card p {
  color: #FFFFFF; /* Pattern Card Text Color */
  margin-bottom: 15px;
}

.view-button {
  background-color: #BAD8B6; /* Button Color */
  padding: 10px 20px;
  border-radius: 5px;
  color: #FFFFFF; /* Button Text Color */
  font-weight: bold;
  text-decoration: none;
}

.view-button:hover {
  background-color: #F9F6E6; /* Button Hover Color */
  color: #BAD8B6; /* Button Text Hover Color */
}

/* Responsive Design */
@media (max-width: 768px) {
  .pattern-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .category-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}